@{
    ViewData["Title"] = "SCM Build Site";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS Stylesheets -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="cd.css">

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <!-- Title -->
    <title>@ViewData["Title"]</title>
</head>

<body>
    <div class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#" style="float:right;">
            <img src="https://mma.prnewswire.com/media/386629/Infinite_Computer_Solutions_Logo.jpg?w=200" alt="Infinite" height="30">
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" asp-controller="Home" asp-action="Index">
                        <span style="font-size: 18px; font-weight: bold; margin-left:-10%;">SCM Build Site</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <nav class="sidebar close">
        <header>
            <i class='fas fa-chevron-right toggle'></i>
        </header>

        <div class="menu-bar">
            <div class="menu">
                <ul class="menu-links">
                    @*  <li data-toggle="tooltip" title="Build Release">
                        <a class="tools" asp-controller="#" asp-action="#">
                            <div style="display:flex; align-items: center;">
                                <i class="icon fas fa-cogs -icon me-3"></i>
                                <span class="text nav-text">Build Release</span>
                            </div>
                        </a>
                    </li> *@
                    <li data-toggle="tooltip" title="Build Request">
                        <a class="tools" asp-controller="Home" asp-action="Github">
                            <div style="display:flex; align-items: center;">
                                <i class="icon fab fa-github -icon me-3"></i>
                                <span class="text nav-text">Build Request</span>
                            </div>
                        </a>
                    </li>
                    <li data-toggle="tooltip" title="Deploy Dev Build">
                        <a class="tools" asp-controller="Home" asp-action="DeployDevBuild">
                            <div style="display:flex; align-items: center;">
                                <i class="icon fas fa-server -icon me-3"></i>
                                <span class="text nav-text">Deploy Dev Build</span>
                            </div>
                        </a>
                    </li>
                    <li data-toggle="tooltip" title="Deploy Dev Config">
                        <a class="tools" asp-controller="Home" asp-action="DeployDevConfig">
                            <div style="display:flex; align-items: center;">
                                <i class="icon fas fa-cogs -icon me-3"></i>
                                <span class="text nav-text">Deploy Dev Config</span>
                            </div>
                        </a>
                    </li>
                    <li data-toggle="tooltip" title="DevOps Build">
                        <a asp-controller="CodeRelRequest" asp-action="Build">
                            <div style="display:flex; align-items: center;">
                                <i class="icon fas fa-code grey-icon me-2"></i>
                                <span class="text nav-text">CodeRel Request</span>
                            </div>
                        </a>
                    </li>
                    <li data-toggle="tooltip" title="DevOps Build">
                        <a asp-controller="Home" asp-action="NonCodeRelease">
                            <div style="display:flex; align-items: center;">
                                <i class="icon far fa-hdd grey-icon me-2"></i>
                                <span class="text nav-text">NonCodeRel</span>
                            </div>
                        </a>
                    </li>

                    <li data-toggle="tooltip" title="Server-List">
                        <a asp-controller="Luffy" asp-action="Server">
                            <div style="display:flex; align-items: center;">
                                <i class="icon fas fa-desktop grey-icon me-2"></i>
                                <span class="text nav-text">Server List</span>
                            </div>
                        </a>
                    </li>

                    <li data-toggle="tooltip" title="GetScriptDetails">
                        <a asp-controller="Script" asp-action="Details">
                            <div style="display:flex; align-items: center;">
                                <i class="icon fas fa-file-alt grey-icon me-2"></i>
                                <span class="text nav-text">Get Script Details</span>
                            </div>
                        </a>
                    </li>
                    <li data-toggle="tooltip" title="DMCR Request">
                        <a asp-controller="DMCR" asp-action="DMCRRequest">
                            <div style="display:flex; align-items: center;">
                                <i class="icon fas fa-file-signature grey-icon me-2"></i> <!-- Changed to 'file-signature' for DMCR Request -->
                                <span class="text nav-text">DMCR Request</span>
                            </div>
                        </a>
                    </li>

                    <li data-toggle="tooltip" title="DMCR Tracker">
                        <a asp-controller="DMCR" asp-action="DMCRTracker">
                            <div style="display:flex; align-items: center;">
                                <i class="icon fas fa-tachometer-alt grey-icon me-2"></i> <!-- Changed to 'tachometer-alt' for DMCR Tracker -->
                                <span class="text nav-text">DMCR Tracker</span>
                            </div>
                        </a>
                    </li>
                    <li data-toggle="tooltip" title="DMCR Approval">
                        <a asp-controller="DMCR" asp-action="DMCRApproval">
                            <div style="display:flex; align-items: center;">
                                <i class="icon fas fa-check-circle grey-icon me-2"></i> <!-- Changed icon to 'check' for DMCR Approval -->
                                <span class="text nav-text">DMCR Approval</span>
                            </div>
                        </a>
                    </li>

                    <li data-toggle="tooltip" title="OMG DashBoard">
                        <a asp-controller="Home" asp-action="OMGDashBoard">
                            <div style="display:flex; align-items: center;">
                                <i class="icon fas fa-tachometer-alt grey-icon me-2"></i> <!-- Changed icon here -->
                                <span class="text nav-text">OMG DashBoard</span>
                            </div>
                        </a>
                    </li>
                    <li data-toggle="tooltip" title="DevOpes Arena">
                        <a asp-controller="Auth" asp-action="DevOpes1">
                            <div style="display:flex; align-items: center;">
                                <i class="icon fas fa-user-secret grey-icon me-2"></i>
                                <span class="text nav-text">DevOpes Arena</span>
                            </div>
                        </a>
                    </li>

                    @*  <li data-toggle="tooltip" title="Object Conflict Tracker">
                        <a asp-controller="DMCR" asp-action="ObjectConflict">
                            <div style="display:flex; align-items: center;">
                                <i class="icon fas fa-exclamation-triangle grey-icon me-2"></i> <!-- Changed icon to 'exclamation-triangle' for Object Conflict Tracker -->
                                <span class="text nav-text">Object Conflict Tracker</span>
                            </div>
                        </a>
                    </li> *@


                    @*   <li class="mode">
                        <div style="display:flex; align-items: center;">
                            <div class="sun-moon">
                                <i class='fas fa-moon icon moon'></i>
                                <i class='fas fa-sun icon sun'></i>
                            </div>
                            <span class="mode-text text">Dark mode</span>
                            <div class="toggle-switch">
                                <span class="switch"></span>
                            </div> 
                        </div>
                    </li> *@
                </ul>
            </div>
        </div>
    </nav>



    @RenderBody()

    <!-- JavaScript -->
    <script>
        $(document).ready(function () {
            const sidebar = $('.sidebar');
            const toggle = $('.toggle');
            const searchBtn = $('.search-box');
            const modeSwitch = $('.toggle-switch');
            const modeText = $('.mode-text');
            const dashboardContainer = $('#dashboard-container');

            toggle.on('click', function () {
                sidebar.toggleClass('close');
            });

            searchBtn.on('click', function () {
                sidebar.removeClass('close');
            });

            modeSwitch.on('click', function () {
                $('body').toggleClass('dark');
                modeText.text($('body').hasClass('dark') ? 'Light mode' : 'Dark mode');
            });

            // Close sidebar when clicking on empty space
            $(document).on('click', function (event) {
                if (!sidebar.is(event.target) && sidebar.has(event.target).length === 0) {
                    sidebar.addClass('close');
                }
            });

            // Keep sidebar open while hovering over it
            sidebar.on('mouseenter', function () {
                sidebar.removeClass('close');
            }).on('mouseleave', function () {
                sidebar.addClass('close');
            });

            $('.tools').on("click", function (e) {
                e.preventDefault(); // Prevent default link behavior
                window.location.href = e.currentTarget.href;

                var newName = e.currentTarget.innerText; // Get the text content
                // Update the text of the dashboard container
                $('#sidebarSection').html(newName);
            });
        });
        function getScriptData() {
            var scriptName = $('#ScriptName').val();
            $.ajax({
                url: '@Url.Action("Details", "Script")',
                type: 'GET',
                data: { scriptName: scriptName },
                success: function (data) {
                    $('#scriptDetails').html(data);
                },
                error: function () {
                    alert('Failed to retrieve data.');
                }
            });
        }
    </script>


    <!-- Scripts -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="sidebar.js"></script> <!-- Include sidebar JavaScript file -->
</body>

</html>
